# Libraries

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [4]:
import sys
sys.path.append('../')

In [5]:
from NbaFunctions import *

# Scraping Stats

## All Seasons Stats

In [9]:
url = 'https://www.basketball-reference.com/leagues/NBA_{}_totals.html'
df = scrape_season_stats(url, 1985, 2020)

Extracting data from the 1985 season
Extracting data from the 1986 season
Extracting data from the 1987 season
Extracting data from the 1988 season
Extracting data from the 1989 season
Extracting data from the 1990 season
Extracting data from the 1991 season
Extracting data from the 1992 season
Extracting data from the 1993 season
Extracting data from the 1994 season
Extracting data from the 1995 season
Extracting data from the 1996 season
Extracting data from the 1997 season
Extracting data from the 1998 season
Extracting data from the 1999 season
Extracting data from the 2000 season
Extracting data from the 2001 season
Extracting data from the 2002 season
Extracting data from the 2003 season
Extracting data from the 2004 season
Extracting data from the 2005 season
Extracting data from the 2006 season
Extracting data from the 2007 season
Extracting data from the 2008 season
Extracting data from the 2009 season
Extracting data from the 2010 season
Extracting data from the 2011 season
Extracting data from the 2012 season
Extracting data from the 2013 season
Extracting data from the 2014 season
Extracting data from the 2015 season
Extracting data from the 2016 season
Extracting data from the 2017 season
Extracting data from the 2018 season
Extracting data from the 2019 season
Extracting data from the 2020 season

In [10]:
df.head(3)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year,Season
0,1,Kareem Abdul-Jabbar*,C,37,LAL,79,79,2630,723,1207,...,460,622,249,63,162,197,238,1735,1985,1984-85
1,2,Alvan Adams,PF,30,PHO,82,69,2136,476,915,...,347,500,308,115,48,197,254,1202,1985,1984-85
2,3,Mark Aguirre,SF,25,DAL,80,79,2699,794,1569,...,289,477,249,60,24,253,250,2055,1985,1984-85

## All Seasons Leaders

In [11]:
url2 = "https://www.basketball-reference.com/leagues/"
dfAll = scrape_all_seasons(url2)

In [12]:
dfAll.head(3)

,Season,Lg,Champion,MVP,Rookie of the Year,Points,Rebounds,Assists,Win Shares
0,2019-20,NBA,Los Angeles Lakers,G. Antetokounmpo,J. Morant,J. Harden (2335),R. Gobert (916),L. James (684),J. Harden (13.1)
1,2018-19,NBA,Toronto Raptors,G. Antetokounmpo,L. Dončić,J. Harden (2818),A. Drummond (1232),R. Westbrook (784),J. Harden (15.2)
2,2017-18,NBA,Golden State Warriors,J. Harden,B. Simmons,L. James (2251),A. Drummond (1247),R. Westbrook (820),J. Harden (15.4)

# Convert to .csv

In [13]:
#Writing CSV of season stats
df.to_csv('../data/season_stats.csv',index=False)
dfAll.to_csv('../data/all_season_leaders.csv',index=False)